h1,
h2,
h3,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

/* header-style */
.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.header.container {
  background-color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  color: #000000;
  text-decoration: none;
  width: 145px;
  height: 31px;
}

.logo__header {
  color: #2196f3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* nav */
.navigation-list,
.navigation-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation-list .navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.header .navigation-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__menu {
  display: block;
  height: 4px;
  position: relative;
}

.navigation-list__menu::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__menu.current::after {
  opacity: 1;
  width: 100%;
}

.navigation-list .navigation-list__link.current {
  color: #2196f3;
}

.navigation-auth .navigation-list__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-auth {
  margin-left: auto;
}

.navigation-auth__smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.navigation-list__link:hover, .navigation-list__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.navigation-auth__envelope {
  margin-right: 10px;
  fill: currentColor;
}

.navigation-auth__mail {
  margin-right: 30px;
}

.navigation-auth .navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Imgf.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Imgf.jpg");
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
  text-align: center;
}

.hero__btn {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* benefits */
.benefits {
  padding-top: 94px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__item {
  display: block;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  text-align: left;
}

.benefits__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.benefits__excellence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__icon {
  margin: auto;
}

/* work */
.section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__list {
  position: relative;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.products__title {
  font-weight: var(--font-bold);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* our teame */
.teame {
  background-color: #f5f4fa;
}

.teame__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teame__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0;
}

.teame__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  display: block;
  width: 270px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teame__item:not(:last-child) {
  margin-right: 30px;
}

.card__list:not(:last-child) {
  margin-right: 10px;
}

.teame__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.teame__position {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: #757575;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.card__icon {
  display: inline-block;
}

/* clients */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__item {
  height: 92px;
  width: 170px;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo--altered {
  color: #2196f3;
}

.footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  color: #ffffff;
  text-decoration: none;
  width: 145px;
  height: 31px;
}

.footer__contact {
  display: block;
  width: 231px;
  text-align: left;
  float: left;
}

.footer__company {
  display: block;
  margin: 0 0 20px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
  width: 145px;
  height: 31px;
}

.footer__link {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.footer__list:not(:last-child) {
  margin-bottom: 6px;
}

.footer__text {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}

/* invitation */
.invitation__title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.invitation {
  margin-left: 70px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action__item:not(:last-child) {
  margin-right: 10px;
}

.action__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action__link:hover, .action__link:focus {
  background-color: #2196f3;
}

.action__icon {
  display: inline-block;
}

/* subscription */
.form {
  display: block;
  margin-left: 93px;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscription__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border-style: none;
  background-color: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__text {
  display: block;
  text-align: left;
  padding-right: 10px;
  padding-left: 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 8px;
  background-origin: border-box;
}

/* backdrop-modal */
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

/* modal */
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 40px;
  z-index: 2;
  top: 50%;
  left: 50%;
  opacity: 1;
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%) scale(1) rotateZ(1turn);
          transform: translate(-50%, -50%) scale(1) rotateZ(1turn);
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color 250ms var(--timing-fanction), fill 250ms var(--timing-fanction);
  transition: border-color 250ms var(--timing-fanction), fill 250ms var(--timing-fanction);
}

.modal__btn:hover, .modal__btn:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* form */
.order {
  display: block;
  margin-bottom: 20px;
}

.form-title {
  margin-bottom: 12px;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.field {
  position: relative;
}

.field:not(:last-child) {
  margin-bottom: 10px;
}

.field__label {
  display: block;
  margin-bottom: 4px;
}

.field__list {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.field__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 40px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__label:focus-within .field__name {
  border-color: #2196f3;
}

.field__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 12px;
}

.field__name:focus ~ .field__svg {
  fill: #2196f3;
  border: color-blue;
}

/* textarea */
.textarea {
  resize: none;
  width: 100%;
  height: 96px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea__txt {
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea__txt:focus-within {
  border-color: #2196f3;
}

/* checkbox */
.checkbox {
  display: block;
  text-align: center;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
}

.checkbox__text:hover .checkbox__icon,
.checkbox__text:focus-within .checkbox__icon {
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__label:checked + .checkbox__icon {
  background-size: contain;
  background-origin: border-box;
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  border-color: #2196f3;
  border-radius: 2px;
}

.checkbox__text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #757575;
}

.checkbox__contract {
  font-size: 14px;
  line-height: 1.7;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.submit__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  min-width: 200px;
  min-height: 50px;
  border: none;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__btn:hover,
.submit__btn :focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit__span {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* portfolio-style */
.filter {
  margin-bottom: 50px;
}

.filter__list {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__list:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__all {
  min-width: 73px;
}

.filter__web {
  min-width: 128px;
}

.filter__app {
  min-width: 145px;
}

.filter__dsn {
  min-width: 59px;
}

.filter__mark {
  min-width: 86px;
}

/* projects */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 94px;
}

.projects__card {
  display: block;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  left: 1015px;
  top: 1130px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects__card:nth-child(3n) {
  margin-right: 0px;
}

.projects__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* font-style */
.projects__direction {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects__example {
  display: block;
  padding: 20px 24px;
  text-align: left;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.projects__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  opacity: 0;
}

.projects__link:hover .projects__action {
  opacity: 1;
}

.projects__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */