/* backdrop-modal */
 .backdrop {
   z-index: 1;
   background-color: $color-shadow-six;
   top: 0;
   left: 0;
   width: 100%;
 height: 100%; 

 opacity: 1;
  visibility: visible;
  transition: opacity 350ms $timing-fanction, visibility 350ms $timing-fanction;

 @media screen and (min-width: 480px), (max-width: 768px) {
background-color: $color-shadow-six;
   overflow-y: scroll;
   padding: 93px 15px 94px;

} }

.backdrop {
  @media screen and (min-width: 768px) {
   position: fixed; 
  }
}
  
  

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}




/* backdrop-modal */
// .backdrop {
//   position: fixed;
//   z-index: 1;
//   background-color: $color-shadow-six;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   opacity: 1;
//   visibility: visible;
//   transition: opacity 350ms $timing-fanction, visibility 350ms $timing-fanction;
// }

// .backdrop.is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

// .backdrop.is-hidden .modal {
//   opacity: 0;
//   transform: translate(-50%, -50%) scale(0);
// }