/* benefits */
.benefits {
  padding-top: 94px;
  @media screen and (max-width: 1200px) {
      padding-top: 60px;
  }
}

.benefits__list {
  display: flex;
  padding: 0;

  @media screen and (max-width: 768px) {
      display: block;
  }

  @media screen and (min-width: 768px), (max-width: 1200px) {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    padding-left: 0;
  }
}

.benefits__item {
    @media screen and (max-width: 768px) {
      margin-bottom: 30px; 
      &:last-child {
        margin-bottom: 60px;
      }
    }
}

@media screen and (min-width: 1200px) {
   .benefits__item {
  display: block;
  flex-basis: calc((100% - 90px) / 4);
  text-align: left;
  &:not(:last-child) {
    margin-right: 30px;
  }
} 
}

.benefits__title {
  font-weight: $font-bold;
  font-size: $font-size-min;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  color: $color-text;
  font-size: $font-size-min;
  line-height: 1.71;
}

.benefits__excellence {
  @include centered();
  height: 120px;
  background-color: $color-about-icon;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__icon {
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
.benefits__item {
       display: block;
 flex-basis: calc((100% - 60px) / 2);
  text-align: left;
  &:nth-child(2n + 1) {
   margin-right: 30px; 
  }
  &:not(:last-child) {
      padding-bottom: 30px;
  }
   }
}

