/* clients */

// .customers {
//   display: flex;
// }

// .customers__item {
//   height: 92px;
//   width: 170px;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .customers__link {
//   @include centered();
//   width: 100%;
//   height: 100%;
//   border: 1px solid $color-icon;
//   box-sizing: border-box;
//   border-radius: 4px;
//   fill: $color-icon;

//   &:hover,
//   &:focus {
//     border-color: $color-blue;
//     fill: $color-blue;
//   }
//   transition: border-color 250ms $timing-fanction, fill 250ms $timing-fanction;
// }
