/* header-style */

.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

}

.header.container {
  background-color: $color-header-card;
}

.header {
  border-bottom: 1px solid $color-bottom-line;

  @media screen and (max-width: 767px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: $font-bold;
  font-size: 26px;
  line-height: 1.2;

  color: $color-logo;
  text-decoration: none;
  width: 145px;
  height: 31px;

  @media screen and (max-width: 479px),
    (min-width: 480px),
    (max-width: 1200px) {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__header {
  color: $color-blue;
}

.js-close-menu {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-open-menu {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 0;
  right: 15px;
  padding-top: 10px;
}
.menu-toggle {
  &:hover,
  &:focus {
    fill: $color-blue;
  }
}

.header__container {
  @media screen and (max-width: 479px), (min-width: 480px), (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;

  background-color: $color-header-card;

  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;

  z-index: 3;

  transform: translateX(-100%);
  transition: transform 350ms $timing-fanction;

  @media screen and (max-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  display: flex;
  transform: translateX(0);
}
