/* hero */

.hero {
  background-color: $color-hero-background;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, $color-work-two, $color-work-two),
    url('../images/Imgf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        $color-work-two,
        $color-work-two
      ),
      url('../images/desktop/img12@2x.jpg');
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    background-image: linear-gradient(
        to right,
        $color-work-two,
        $color-work-two
      ),
      url('../images/tablet/header.jpg');
    padding: 103px 0px;
    max-width: 768px;
    height: 400px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $color-work-two,
          $color-work-two
        ),
        url('../images/tablet/header2-2@2x.jpg');
    }
  }

  @media screen and (max-width: 768px) {
    background-image: linear-gradient(
        to right,
        $color-work-two,
        $color-work-two
      ),
      url('../images/mobile/header.jpg');
    padding: 118px 0px;
    max-width: 480px;
    height: 400px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $color-work-two,
          $color-work-two
        ),
        url('../images/mobile/header@2x.jpg');
    }
  }
}

.hero__title {
  color: $color-header-card;
  font-weight: $font-large;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
  text-align: center;

  @media screen and (max-width: 1200px) {
    font-size: 26px;
    line-height: 1.6;
    width: 360px;
    height: 84px;
  }
}

.hero__btn {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;

  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;

  background-color: $color-blue;
  color: $color-header-card;
  cursor: pointer;
  font-weight: $font-bold;
  font-size: $font-size-mid;
  line-height: 1.88;

  transition: background-color 250ms $timing-fanction,
    box-shadow 250ms $timing-fanction;

  &:hover,
  &:focus {
    background-color: $color-accent-hover;
    box-shadow: 0px 4px 4px $color-shadow-four;
  }
}
