/* hero */






/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-color: $color-hero-background;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $color-work-two, $color-work-two),
    url('../images/Imgf.jpg');
}

.hero__title {
  color: $color-header-card;
  font-weight: $font-large;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
  text-align: center;
}

.hero__btn {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;

  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;

  background-color: $color-blue;
  color: $color-header-card;
  cursor: pointer;
  font-weight: $font-bold;
  font-size: $font-size-mid;
  line-height: 1.88;

  transition: background-color 250ms $timing-fanction,
    box-shadow 250ms $timing-fanction;

  &:hover,
  &:focus {
    background-color: $color-accent-hover;
    box-shadow: 0px 4px 4px $color-shadow-four;
  }
}
