/* invitation */
// .invitation__title {
//   display: block;
//   font-weight: $font-bold;
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;

//   margin-top: 0;
//   margin-bottom: 20px;

//   color: $color-header-card;
// }

// .invitation {
//   margin-left: 70px;
// }

// .action {
//   display: flex;
// }

// .action__item {
//   display: flex;
//   justify-content: center;
//   &:not(:last-child) {
//     margin-right: 10px;
//   }
// }

// .action__link {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;

//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background-color: $color-modal-two;

//   transition: background-color 250ms $timing-fanction;
//   &:hover,
//   &:focus {
//     background-color: $color-blue;
//   }
// }

// .action__icon {
//   display: inline-block;
// }

// /* subscription */
// .form {
//   display: block;
//   margin-left: 93px;
// }

// .subscription {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
// }

// .subscription__email {
//   display: flex;
//   width: 358px;
//   height: 50px;
//   margin-right: 12px;
//   padding-left: 16px;

//   background-color: inherit;
//   border: 1px solid $color-transparent-two;
//   border-radius: 4px;
//   filter: drop-shadow(0px 4px 4px $color-shadow-four);

//   &::placeholder {
//     font-size: 16px;
//     line-height: 1.25;

//     color: $color-transparent;
//   }
// }

// .button {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;

//   width: 200px;
//   height: 50px;
//   border-style: none;

//   background-color: $color-blue;
//   border-radius: 4px;
//   box-shadow: 0px 4px 4px $color-shadow-four;
// }

// .button__text {
//   display: block;
//   text-align: left;
//   padding-right: 10px;
//   padding-left: 29px;
//   font-weight: $font-bold;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;

//   color: $color-header-card;
// }

// .button__icon {
//   display: flex;
//   padding-right: 8px;
//   background-origin: border-box;
// }

