/* portfolio-style */

// .filter {
//   margin-bottom: 50px;
// }

// .filter__list {
//   display: inline-block;
//   align-items: center;

//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }

// .filter__btn {
//   background-color: $color-team-card;
//   color: $color-title;
//   cursor: pointer;
//   border-radius: 4px;
//   border-style: none;
//   padding: 6px 22px;

//   font-weight: $font-middle;
//   font-size: $font-size-mid;
//   line-height: 1.6;
//   text-align: center;

//   transition: background-color 250ms $timing-fanction,
//     color 250ms $timing-fanction, box-shadow 250ms $timing-fanction,
//     border-radius 250ms $timing-fanction;

//   &:hover,
//   &:focus {
//     background-color: $color-blue;
//     color: $color-header-card;
//     box-shadow: 0px 3px 1px $color-shadow-one, 0px 1px 2px $color-shadow-two,
//       0px 2px 2px $color-shadow-three;
//     border-radius: 4px;
//   }
// }

// .filter__all {
//   min-width: 73px;
// }

// .filter__web {
//   min-width: 128px;
// }

// .filter__app {
//   min-width: 145px;
// }

// .filter__dsn {
//   min-width: 59px;
// }

// .filter__mark {
//   min-width: 86px;
// }

