/* our teame */

// .teame {
//   background-color: $color-team-card;
// }

// .teame__box {
//   padding-top: 30px;
//   padding-bottom: 30px;
// }

// .teame__list {
//   display: flex;
//   padding-right: 0;
// }

// .teame__item {
//   flex-basis: calc((100% - 90px) / 4);
//   display: block;
//   width: 270px;
//   background: $color-header-card;

//   box-shadow: 0px 1px 3px $color-shadow-three, 0px 1px 1px $color-shadow-five,
//     0px 2px 1px $color-shadow-six;
//   border-radius: 0px 0px 4px 4px;
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .card__list {
//   &:not(:last-child) {
//     margin-right: 10px;
//   }
// }

// .teame__name {
//   font-weight: $font-middle;
//   font-size: $font-size-mid;
//   line-height: 1.18;
//   margin-bottom: 10px;
// }

// .teame__position {
//   font-size: $font-size-mid;
//   line-height: 1.18;
//   margin-bottom: 10px;
//   color: $color-text;
// }

// .card {
//   display: flex;
//   justify-content: center;
// }

// .card__link {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   fill: $color-icon;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;

//   transition: background-color 250ms $timing-fanction,
//     fill 250ms $timing-fanction;

//   &:hover,
//   &:focus {
//     background-color: $color-blue;
//     fill: $color-header-card;
//   }
// }

// .card__icon {
//   display: inline-block;
// }