/* work */
 .section__title {
  font-weight: $font-bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.works {
  display: flex;
}

.works__item {
  flex-basis: calc((100% - 60px) / 3);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works__list {
  position: relative;
}

.products {
  @include centered();
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  background: $color-work;
}

.products__title {
  font-weight: var(--font-bold);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: $color-header-card;
}   

@media screen and (max-width: 1200px) {
    .section__works {
        display: none;
    }
}