$color-logo: #000000;
$color-header-card: #ffffff;
$color-section: #e5e5e5;
$color-blue: #2196f3;
$color-accent-hover: #188ce8;
$color-text: #757575;
$color-icon: rgba(117, 117, 117, 1);
$color-textarea-text: rgba(117, 117, 117, 0.5);
$color-hero: #2f303a;
$color-title: #212121;
$color-team-card: #f5f4fa;
$color-work-card: #eeeeee;
$color-transparent: rgba(255, 255, 255, 0.6);
$color-transparent-two: rgba(255, 255, 255, 0.3);
$color-shadow-one: rgba(0, 0, 0, 0.1);
$color-shadow-two: rgba(0, 0, 0, 0.08);
$color-shadow-three: rgba(0, 0, 0, 0.12);
$color-shadow-four: rgba(0, 0, 0, 0.15);
$color-shadow-five: rgba(0, 0, 0, 0.14);
$color-shadow-six: rgba(0, 0, 0, 0.2);
$color-shadow-seven: rgba(0, 0, 0, 0.06);
$color-shadow-eight: rgba(0, 0, 0, 0.16);
$color-modal: rgba(255, 255, 255, 1);
$color-modal-two: rgba(255, 255, 255, 0.1);
$color-bottom-line: #ececec;
$color-about-icon: #f5f4fa;
$color-hero-background: #c4c4c4;
$color-icon: #afb1b8;
$color-overlay: rgba(33, 150, 243, 0.9);
$color-work: rgba(47, 48, 58, 0.8);
$color-work-two: rgba(47, 48, 58, 0.4);
$color-form: rgba(33, 33, 33, 0.2);

$font-bold: bold;
$font-middle: 500;
$font-large: 900;

$font-size-min: 14px;
$font-size-mid: 16px;

$timing-fanction: cubic-bezier(0.4, 0, 0.2, 1);
